<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VideoGameAPItestSuite">
  <test thread-count="5" name="VideoGameTestCases">
    <classes>
      <class name="TestCases.VideoGameAPItest"/>
    </classes>
  </test> <!-- VideoGameTestCases -->
</suite> <!-- VideoGameAPItestSuite -->
